<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/css/main.css" type="text/css">
</head>
<body>
<div class="container">
       <div class="header">
            <div class="header__user">Вы вошли как: {{ user.username }} </div>
            <div class="header__main">Artezio</div>
       </div>
        <div class="container__page-content">
            <div class="sidebar">
                <ul class="menu">
                    <li>
                        <a href="/Quizzes/user_home/">Home</a>
                    </li>
                    <li><a>Quizzes</a>
                        <ul class="menu__sub-menu-container">
                           <li><a href="../../Quizzes/python">Python</a></li>
                           <li><a>JavaScript</a></li>
                           <li><a>C++</a></li>
                        </ul>
                    </li>
                    <li><a href="../../Quizzes/select_results">Results</a></li>
                </ul>
                 <a href="/Quizzes/logout">Выйти</a>
            </div>
            <div class="content">
                <div class="question">
                    <form method="post" action="/Quizzes/quiz_save/">
                    {% csrf_token %}
                    <input type="hidden" name="quiz_id" value="{{ quiz.id}}">
                        {% for question in quiz.id_question.all %}
                             <br>
                             <br> {{ question.title }}
                            {% if question.question_type == '3' %}
                            <br> <input type="text" name="question_{{ question.id }}" value="">
                            {% endif %}
                            {% for answer in question.id_answer.all %}
                                 {% if question.question_type == '1' %}
                                     <br> <input type="checkbox" name="question_{{ question.id }}_{{ answer.id }}" value="{{ answer.title }}">{{ answer.title }}
                                 {% elif question.question_type == '2' %}
                                     <br> <input type="radio" name="question_{{ question.id }}" value="{{  answer.title }}">{{ answer.title }}
                                 {% endif %}
                             {% endfor %}
                        {% endfor %}
                    <button type="submit" class="dws-submit">Завершить тестирование</button>
                    </form>
                </div>
            </div>
        </div>
</div>
</body>
</html>