<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="../../static/css/main.css" type="text/css">
    <title>Регистрация</title>
  </head>
  <body>
  <div class="container">
     <form action="" method="post">
      {% csrf_token %}
      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
      <div class="dws-input">
         <input type="text" name="username" maxlength="150" autofocus="" placeholder="Логин" required="" id="id_username">
      </div>
      <div class="dws-input">
         <input type="password" name="password1" required="" placeholder="Пароль" id="id_password1">
      </div>
      <div class="dws-input">
         <input type="password" name="password2" required="" placeholder="Повторите пароль" id="id_password2">
      </div>
      <div class="dws-input">
      <button type="submit" class="dws-submit">Зарегистрироваться</button>
      </div>
    </form>
  </div>
  </body>
</html>