<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/css/main.css" type="text/css">
</head>
<body>
<div class="container">
       <div class="header">
            <div class="header__user">Вы вошли как: {{ username.username }} </div>
            <div class="header__main">Artezio</div>
       </div>
        <div class="container__page-content">
            <div class="sidebar">
                <ul class="menu">
                    <li>
                        <a href="/Quizzes/user_home/">Home</a>
                    </li>
                    <li><a>Quizzes</a>
                        <ul class="menu__sub-menu-container">
                           <li><a href="../../Quizzes/python">Python</a></li>
                           <li><a>JavaScript</a></li>
                           <li><a>C++</a></li>
                        </ul>
                    </li>
                    <li><a href="../../Quizzes/select_results">Results</a></li>
                </ul>
                 <a href="/Quizzes/logout">Выйти</a>
            </div>
            <div class="content">
                <div class="question">
                    <form method="POST" action="/Quizzes/select_user/">
                    {% csrf_token %}
                {% for quiz in quizzes %}
                            <br> <input type="radio" name="user" value="{{ quiz.id }}" required>{{ quiz }}
                     <br>
                {% endfor %}
                    <button type="submit" class="dws-submit">Проверить результаты</button>
                    </form>
                </div>
            </div>
        </div>
</div>
</body>
</html>