<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/css/main.css" type="text/css">
</head>
<body>
<div class="container">
       <div class="header">
            <div class="header__user">Вы вошли как: {{ user.username }} </div>
            <div class="header__main">Artezio</div>
       </div>
        <div class="container__page-content">
            <div class="sidebar">
                <ul class="menu">
                    <li>
                        <a href="/Quizzes/user_home/">Home</a>
                    </li>
                    <li><a>Quizzes</a>
                        <ul class="menu__sub-menu-container">
                           <li><a href="../../Quizzes/python">Python</a></li>
                           <li><a>JavaScript</a></li>
                           <li><a>C++</a></li>
                        </ul>
                    </li>
                    <li><a href="../../Quizzes/select_results">Results</a></li>
                </ul>
                 <a href="/Quizzes/logout">Выйти</a>
            </div>
            <div class="content">
                <div class="question">
                <div>
                        <table border="1">

                        <tr>
                            <td align="center">Quizzes name</td>
                            <td align="center">Question</td>
                            <td align="center">Answer</td>
                            <td align="center">Correct answer</td>
                            <td width="100" align="center">Score</td>
                        </tr>
                             {% for current_result in result %}
                        <tr>
                            <td align="center">{{ current_result.quizzes_name }}</td>
                            <td align="center">{{ current_result.question }}</td>
                            <td align="center"> {{ current_result.answer }}</td>
                            <td align="center"> {{ current_result.correct_answer }}</td>
                            <td align="center"> {{ current_result.score }}</td>
                        </tr>
                            {% endfor %}
                        </table>

                </div>

                </div>
            </div>
        </div>
</div>
</body>
</html>