<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/css/main.css" type="text/css">
</head>
<body>
<div class="container">
       <div class="header">
            <div class="header__user">Вы вошли как: {{ user.username }} </div>
            <div class="header__main">Artezio</div>
       </div>
        <div class="container__page-content">
            <div class="sidebar">
                <ul class="menu">
                    <li>
                        <a href="/Quizzes/user_home/">Home</a>
                    </li>
                    <li><a href="">Quizzes</a>
                        <ul class="menu__sub-menu-container">
                           <li><a href="../../Quizzes/python"> Python</a></li>
                           <li><a>JavaScript</a></li>
                           <li><a>C++</a></li>
                        </ul>
                    </li>
                    <li><a href="../../Quizzes/select_results">Results</a></li>
                </ul>
                 <a href="/Quizzes/logout">Выйти</a>
            </div>
            <div class="content">
                <h2>Цель:</h2>
                <p>Получить практические навыки работы с фреймворком Django путем реализации простого web-приложения.

При этом должен быть освоен полный цикл работы с Django (от установки и конфигурирования на локальной машине до написания кода и верстки).</p>
                <h2>Задание:</h2>
                <p>Необходимо реализовать web-сервис с помощью Django для проверки знаний по языку программирования Python (Quiz).

Проект максимально открыт для творчества. Основные требования содержат только необходимый к реализации минимум функционала.
Любые улучшения\добавления приветствуются.</p>
                <h2>Основные требования к сервису:</h2>
                <p>Масштабируемость.
Должна быть заложена возможность добавлять проверку знаний (quiz) по другим языкам программирования (Java, C, etc.).
Управлять контентом должен Django admin.</p>
                <p>Разграничение доступа.
Авторизация и аутентификация пользователей и разделение их на группы (user, admin) с разными наборами прав.
Опционально можно добавить возможность восстановления забытого пароля.</p>
                <p>Необходимый функционал.
тестовые задания по языку Python в виде Quiz – вопросы с вариантами ответа (допускается несколько правильных вариантов) либо вопросы с коротким текстовым ответом (например, «Напишите результат выполнения следующего кода …»).
Варианты полей в форме опроса: Radio button, Check box, Text field.
хранение результатов выполнения тестирования и просмотр этих результатов администратором или пользователем, проходившим опрос
доступ к результатам.
обычный пользователь: доступны результаты тестов пройденных им.
администратор: доступны результаты всех пользователей.
Опционально можно добавить различные варианты фильтрации результатов (темы опросов, имена пользователей и т.д.)
проверка результатов теста с обозначением правильных и неправильных ответов. Для неправильных должен быть предложен правильный вариант.
Проверка должна проходить только после завершения всего теста и отправки результатов на сервер.
Опционально можно добавить короткие пояснения для правильных вариантов ответов (почему именно этот вариант правильный)</p>
            </div>
        </div>
</div>
</body>
</html>