body{
    background-image: url("../img/bg1.jpg");
}

.container{
    width: 1200px;
    height: 100%;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
    text-align: center;
}

.header {
    color: #FFFFFF;
    font-size: 26px;
    text-align: center;
    padding-top: 25px;
    height: 70px;
    display: flex;
    border-bottom: 2px solid #FFF;
}

.header .header__user {
    flex: 0 0 300px;
}

.header .header__main {
   width: 100%;
}

.container__page-content {
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 1 0 300px;
}


input[type="text"], input[type="password"], input[type="email"], input[type="username"] {
    width: 280px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
}


.dws-submit{
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 15px;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
}

.logo{
    color: #fff;
    font-size: 32px;
}

.menu {
    height: 150px;
    padding: 20px 0;
    margin: 0;
    color: white;
    font-size: 24px;
    list-style-type: none;
}

.menu li {
    position: relative;
    padding-bottom: 15px;
}

.menu__sub-menu-container{
    min-width: 150px;
    position: absolute;
    left: 200px;
    top: 18px;
    padding: 2px;
    list-style-type: none;
    display: none;
    color: #FFFFFF;
    z-index: 1;
}

.menu li:hover .menu__sub-menu-container,
.menu li  .menu__sub-menu-container:hover {
    display: block !important;
    font-size: 20px;
    text-align: left;

}

.content {
    flex: 1 0 890px;
    border-left: 2px solid #FFF;
}

.part{
    padding: 0 10px 0 0;
}

a {
    color: white; /* Цвет обычной ссылки */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
a:visited {
    color: white; /* Цвет посещённой ссылки */
   }
a:hover {
    color: white; /* Цвет ссылки при наведении на нее курсора мыши */
    text-decoration: underline; /* Добавляем подчеркивание */
   }

h2 {
    text-align: left;
    padding-left: 15px;
    color: #FFFFFF;
}

p {
    text-align: center;
    color: #FFFFFF;
}

.question{
    color: #FFFFFF;
    text-align: left;
    font-size: 24px;
    padding-left: 20px;
}

.result{
    float:left;
    font-size: 24px;
    width:50px;
    height:50px;
}
